/* ==========================================================================
Navbar
========================================================================== */

.navbar-wrapper.navbar-sticky {
    width: 100%;
    background: $harbor__violet;
    position: fixed;
    top: 0;
    left: 0;
    //box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    z-index: 99;

    height: map_get($nav-height,mobile);
    @include breakpoint(tablet){
        height: map_get($nav-height,tablet);
    }
    @include breakpoint(desktop){
        height: map_get($nav-height,desktop);
    }
}

.hero-head {
    background: $harbor__violet;
    height:100%;
    .container{
        height:100%;
    }
}

.hero-head.has-shadow {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.navbar-toggle.is-active span {
    background-color: $secondary;
}

.navbar {
    box-shadow: none!important;
    background: $harbor__violet;
    height:100%;

    .container {
        min-height: 4rem;
    }
    .container.big {
        min-height: 4.6rem;
    }

    .navbar-start{
        overflow: hidden;
        height: 100%;
        .navbar-item.has-logo{
            @include breakpoint(desktop-max){
                float:left;
            }
        }
        #panel-trigger{
            display:none;
            @include breakpoint(tablet-max){
                float:right;
                display:block;
            }
        }
        .button{
            display:block;
            height: auto;
            max-height: 55px;
            padding: 10px 15px 10px 15px;
            @include breakpoint(desktop){
                display:none;
            }
            svg{
                path{fill:$harbor__violet}

            }
        }
        @include breakpoint(tablet-max){
            display:flex;
            align-items: center;
            .navbar-item.has-logo{
                flex:1;
            }
        }
    }
    .navbar-item{
        color:$white;
        &:hover{
            color:$harbor__purple!important;
            background-color:initial!important;
        }
        @include breakpoint(desktop){
            &:not(:last-child){
                margin-right:14px;
            }
        }
    }
    .navbar-item.is-drop{
        color:$white;
        &:hover{
            color:$harbor__purple!important;
            a{
                color:$harbor__purple!important;
            }
        }
    }
    .navbar-item.is-tab:hover {
        border-bottom-color: $harbor__purple;
    }
    .navbar-item.is-tab.is-active {
        border-bottom: 3px solid $harbor__purple !important;
        color: $harbor__purple !important;
    }
    .navbar-item.is-tab.navbar-icon.is-active {
        border-bottom: 3px solid transparent !important;
        i {
            color: $harbor__purple !important;
            font-size: 20px;
        }
    }
    .navbar-toggle {
        width: 64px;
        height: 64px;
    }

    .navbar-item .get-started{
        position:relative;
        padding: 25px 30px;
        &:hover{
            color:inherit!important;
            svg{
                opacity:0.8;
            }
        }
        svg{
            position:absolute;
            right:10px;
            width:26px;
            height:26px;
            transition: all $delay;
            path{
                fill:$harbor__violet
            }
        }
    }
}
nav.main-menu-mobile{
    position: fixed;
    top: 0;
    z-index:-1;
    background:$harbor__violet--electric-indigo;
    height:100vh;
    width:100vw;
    opacity:0;
    transition: all $delay;
    &.is-open{
        opacity: 1;
        z-index: 999;
    }
    .panel-header{
        padding-top:6px;
        padding-botton:20px;
        position: relative;
        #panel-close{
            position:absolute;
            top:20px;
            right:$gutter;
        }
    }
    a.navbar-item.has-logo{
        &:hover{
            background:initial!important;
        }
        display:inline-block;
        padding-bottom:20px;
    }
    .menu{
        padding:$gutter;
        font-size:inherit;
        .menu-label{

            padding-bottom:20px;
        a{
            font-size:2rem;
            line-height:2.4rem;

            color:$white;
            &:hover{
                color:rgba(255,255,255,.65);
            }
        }
        }

    }
}

/* Override bulma.min.css */
@include breakpoint(desktop){
    .navbar,.navbar-end,.navbar-menu,.navbar-start{
        align-items:stretch!important;
        display:flex!important;
    }
    .navbar-menu{
        background-color: initial!important;
        box-shadow: none;
    }
    .navbar-end {
        justify-content: flex-end;
        margin-left: auto;
        padding: 0;
    }
    .navbar-item, .navbar-link {
        align-items: center;
        display: flex;
    }
}