//Reset
html{
  font-size:62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,p,span,pre,label,input,legend,code{
  font-size:1.6rem;
}
small{
  font-size:.85em; /* 85% of parent */
  *{
    font-size:.85em;
  }

}
h1,h2,h3,h4,h5,h6,p,label,div,legend,span,a,ul,li,table th, table td{
  color:$color__font_primary;
}
h1,h2,h3,h4,h5,h6{
  font-family: $font_heading;
  font-weight: bold;
}
//h1,h2{
//  display:inline-block;
//  border-bottom:3px solid $harbor__yellow;
//}
h1{
  font-size:4.8rem;
}
h2{
  font-size:3.6rem;
}
h3{
  font-size:2.4rem;
}
h4{
  font-size:2.0rem;
}
ol,ul{
  margin:$gutter 0;
  padding-left:16px;
}
table{
  th, td {
    padding: 6px 10px;
    text-align: left;
    border:1px solid opacify(#c1c1c1,.2)
  }
}