{{ $src := .Destination | safeURL }}
{{ $id  := index (last 1 (split .Destination "/")) 0 | replaceRE ".png" "" }}
<img class="img" src="{{ $src }}"{{ with .Text }} alt="{{ . }}"{{ end }} id="{{ $id }}">

<div class="modal" id="modal-{{ $id }}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image">
      <img src="{{ $src }}"{{ with .Text }} alt="{{ . }}"{{ end }}{{ with .Title }} title="{{ . }}"{{ end }}>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>