<div class="gihub-embed">
    <a class="github-button" href={{ .Site.Params.repo | safeURL }} data-icon="octicon-star" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
    <a class="github-button" href={{ printf "%s/subscription" .Site.Params.repo | safeURL }} data-icon="octicon-eye" data-show-count="true" aria-label="Watch ntkme/github-buttons on GitHub">Watch</a>
    <a class="github-button" href={{ printf "%s/fork" .Site.Params.repo | safeURL }} data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork ntkme/github-buttons on GitHub">Fork</a>
</div>