{{- $navbar := .Site.Params.navbar -}}
{{- $logoSrc := printf "img/%s" $navbar.logo.src | absURL -}}
{{- $logoAlt := $navbar.logo.alt -}}
{{- $links := $navbar.links -}}
{{- $buttonText := $navbar.buttonText -}}
{{- $buttonLink := $navbar.buttonLink | safeURL -}}
<nav id="left-panel" class="main-menu-mobile">
  <div class="left-menu-wrapper">
      <div class="panel-header">
          <a class="navbar-item has-logo" href="{{ .Site.BaseURL }}">
              <img class="brand" src="{{ $logoSrc }}" alt="{{ $logoAlt }}">
          </a>
          <div id="panel-close" class="delete is-medium" style="float:right"></div>
      </div>
      <div class="menu">
      {{- range $links -}}
          {{- if not .hide -}}
            {{- if ne .dropdown true }}
              <p class="menu-label">
                  <a class="side-menu-item " href="{{ .url }}">
                      <i class="im im-icon-Cloud"></i>{{ .text }}
                  </a>
              </p>
            {{- else }}
                <p class="menu-label">
                    <a class="side-menu-item " href="{{ .url }}">
                        <i class="im im-icon-Cloud"></i>{{ .text }}
                    </a>
                </p>
                <ul class="menu-list">
                    {{- range .links -}}
                  <li>
                      <a href="{{ .url }}" class="side-menu-item ">{{ .title }}</a>
                  </li>
                    {{ end }}
                </ul>
            {{- end -}}
          <!--<p class="menu-label">-->
              <!--<i class="im im-icon-Security-Block"></i> Menu title-->
          <!--</p>-->
          <!--<ul class="menu-list">-->
              <!--<li>-->
                  <!--<a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>-->
                  <!--<ul class="sidebar-submenu" style="display:none;">-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                  <!--</ul>-->
              <!--</li>-->
              <!--<li>-->
                  <!--<a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>-->
                  <!--<ul class="sidebar-submenu" style="display:none;">-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                  <!--</ul>-->
              <!--</li>-->
          <!--</ul>-->
          <!--<p class="menu-label">-->
              <!--<i class="im im-icon-Two-Windows"></i> Menu title-->
          <!--</p>-->
          <!--<ul class="menu-list">-->
              <!--<li>-->
                  <!--<a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>-->
                  <!--<ul class="sidebar-submenu" style="display:none;">-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                  <!--</ul>-->
              <!--</li>-->
              <!--<li>-->
                  <!--<a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>-->
                  <!--<ul class="sidebar-submenu" style="display:none;">-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                      <!--<li><a href="#" class="side-menu-subitem">Subitem</a></li>-->
                  <!--</ul>-->
              <!--</li>-->
          <!--</ul>-->
          {{- end -}}
      {{- end -}}
      </div> <!-- ends - .menu -->
  </div>
</nav>
