.module--community-articles{
  .container{
    padding-top:40px;
    padding-bottom:40px;

    .module-title{
      margin-bottom:50px;
    }
    .list-items{
      display:flex;
      flex-wrap: wrap;

      flex-direction: column;
      @include breakpoint(tablet){
        flex-direction: row;
      }
      .list-item{
        flex-basis: 50%;
        padding-bottom:40px;

        padding-right:40px;
        @include breakpoint(mobile){
          padding-right:80px;
        }
        .list-title{
          position:relative;
          *{
            font-size: 2.0rem;
            line-height: 2.6rem;
          }
          padding-bottom:20px;
        }
        .list-date{
          margin-bottom:4px;
        }
        .list-article-info{
          font-size: 1.3rem;
          line-height: 1.6rem;
          letter-spacing: 0.81px;
          color: #0C0033;
        }
        .list-author-name{
          font-weight: bold;
          padding-right:10px;
          border-right:2px solid $harbor__yellow;
          letter-spacing: 1px;
        }
        .list-author-company{
          padding-left:10px;
          font-style: italic;
          letter-spacing: 1px;
        }

        &.icon-default{
          .list-title:before{
            content:'';
            display:block;
            background:url('/img/icons/icon-default.svg') no-repeat;
            width: 20px;
            height: 20px;
            position:absolute;
            right: -30px;
            top: 4px;
          }
        }
      }
    }

  }
}
