.module--latest-posts{
  .container{
    padding-top:60px;
    padding-bottom:40px;

    .module-title{
      margin-bottom:50px;
    }
    .list-items{
      display:flex;
      flex-wrap: wrap;

      flex-direction: column;
      @include breakpoint(tablet){
        flex-direction: row;
      }
      .list-item{
        flex-basis: 50%;
        padding-bottom:40px;
        padding-right:40px;
        @include breakpoint(mobile){
          padding-right:80px;
        }
        .list-title{
          *{
            font-size: 2.2rem;
            line-height: 2.6rem;
          }
          padding-bottom:20px;
        }
        .list-article-info{
          padding-bottom:30px;
          .list-date{
            margin-bottom:6px;
            font-size: 1.4rem;
            line-height: 2.2rem;
            letter-spacing: 0.88px;
          }
          .list-author-name{
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 2.2rem;
            letter-spacing: 0.88px;
            padding-right:10px;
            border-right:2px solid $harbor__yellow;
          }
          .list-author-company{
            padding-left:10px;
            font-size: 1.4rem;
            line-height: 2.2rem;
            font-style: italic;
            letter-spacing: 0.88px;
          }
        }
      }
    }

  }
}
