.module--blogpost{
  .container{
    padding-top:#{$gutter*4};
    padding-bottom:#{$gutter*4};
  }

  &.enabled-recent-posts{
    position:relative;

    .container{
      @include breakpoint(desktop){
        padding-right: calc(#{$gutter} + 256px);
      }
    }

    aside.recent-posts{

      background:$harbor__violet--lavender;
      padding:20px $gutter 40px $gutter;
      margin-top:50px;
      @include breakpoint(desktop){
        position:absolute;
        right:0;
        top:#{$gutter*4};
        margin-top:0px;
        max-width:256px;
        width:256px;
      }

      .module-title{
        font-size: 2.4rem!important;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 3.1rem!important;
      }

      ul{
        padding:0;
        margin:0;
        li{
          &:not(:last-child){
            margin-bottom:15px;
          }

          a{
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: 0.2px;
            line-height: 2.3rem;
            text-decoration: none;
          }

        }
      }
    }

  }

}