{{ define "main" }}

    {{ partial "blogpost/hero.html" . }}

    {{- $blogPostConfig := .Site.Params.blogpost -}}
    <section class="module module-content module--blogpost
        {{ if eq $blogPostConfig.showRecentPosts true }}
            enabled-recent-posts
        {{ end }}
    ">
        <div class="container wrap">
            {{.Content}}

            {{ if eq $blogPostConfig.showRecentPosts true }}
                {{ $blogs := where $.Site.Pages "Section" "blogs"}}
                <aside class="recent-posts">
                    <h3 class="module-title">Recent Articles</h3>
                    <ul class="items">
                        {{ range first (add $blogPostConfig.maxRecentPosts 1) $blogs.ByDate.Reverse }}
                            <!-- ignore index page -->
                            {{ if ne .Kind "section" }}
                                <li class="item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            {{ end }}

                        {{ end }}
                    </ul>
                </aside>
            {{ end }}

        </div>
    </section>

    {{ partial "list/related-community-articles.html" . }}
{{ end }}