.module--user-documents,
.module--developer-documents{

  .documents{
    display:flex;
    flex-wrap: wrap;

    flex-direction: column;
    @include breakpoint(tablet){
      flex-direction: row;
    }
    .document-wrap{
      @include breakpoint(tablet) {
        max-width: 220px;
      }
    }
    .document{
      flex-basis: 33.3333%;
      padding-bottom:50px;
    }
    .document-title{

      h2{
        font-size:1.6rem;
        @include underline-flow();
      }
    }
  }
}

/* Override */
.module--user-documents{
  .container{
    padding-top:100px;
  }
}
.module--developer-documents{
  .container{
    padding-top:50px;
    padding-bottom:50px;
    @include breakpoint(tablet){
      padding-top:100px;
    }
  }
}