.module--testimonials-carousel {
  padding-top: 50px;
  margin-bottom: 100px;
  .testimonial {    
    max-width: none;
    margin: 0;
    img {
      border-radius: 0;
      position: static;
      display: block;
      margin: 0 auto 60px auto;
      width: auto;
      height: auto;
      max-width: 250px;
      max-height: 150px;
    }
    blockquote {
      box-shadow: none;
      color: $harbor__violet;
      font-size: 24px;
      font-style: italic;
      text-align: center;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
      @include breakpoint(tablet) {
        font-size: 30px;
        font-style: normal;
        width: 66.666%;
        padding: 0;
      }  
      &:before,
      &:after {
        content: "";
      }
      cite {
        font-style: normal;
        font-size: 24px;
        display: block;
      }
    }
  }  
  // carousel overrides
  .owl-carousel {
    .owl-nav {
      display: none;
    }
    .owl-dots {
      margin: 40px 0;
      display: block;
      text-align: center;
      .owl-dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;
        background: #e9e3f9;
        &.active {
          background: $harbor__violet;
        }
      }
    }  
  }
}