.module--cncf{
  margin-bottom: 40px;
  $item-v-gap:0px;

  @mixin item-title-gap($count){
    @for $i from 1 to ($count+1){
      &:nth-last-of-type(#{$i}){
        padding-top:$item-v-gap!important;
      }
    }
  }
  @mixin flex-child-item-grid(){

    $num-of-items:(
            "mobile":2,
            "tablet":2,
            "desktop":4
    );

    flex-basis: calc(100%/#{map_get($num-of-items,mobile)});
    padding:$item-v-gap $item-gutter $item-gutter $item-gutter;
    box-sizing: border-box;
    //@include item-title-gap(map_get($num-of-items,mobile));
    @include breakpoint(tablet){
      flex-basis: calc(100%/#{map_get($num-of-items,tablet)});
      padding:$item-v-gap $item-gutter $item-gutter $item-gutter;
      box-sizing: border-box;
      //@include item-title-gap(map_get($num-of-items,tablet));
    }
    @include breakpoint(desktop){
      flex-basis: calc(100%/#{map_get($num-of-items,desktop)});
      padding:$item-v-gap $item-gutter $item-gutter $item-gutter;
      box-sizing: border-box;
      //@include item-title-gap(map_get($num-of-items,desktop))
    }
  }

  $item-gutter:10px;

  //background: $harbor__faded_yellow;

  //@include curve(full-curve-reverse);
  padding-top:0px;
  .container{
    padding-top:0px;
    padding-bottom:15px;

    @include breakpoint(tablet) {
      text-align: center;
      max-width:640px;
    }

    .module-title{
      //margin-bottom:50px;
    }
    p {
      font-weight: bold;
      text-align: center;
    }
    .cta{
      margin-top:50px;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 400px;
      margin: 20px auto 0 auto;
    }
    .items{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      @include breakpoint(tablet) {
      }
      >.item{
        flex-basis: calc(100%);
        padding:0 0 $item-gutter 0;

        @include flex-child-item-grid();

        .item-title{
          font-weight: bold;
          padding-top:30px;
        }
        img,svg,.svg{
          height:40px;
          width:auto;
        }
      }
    }
  }
}
