.module {
  padding: 0 20px;
  @include breakpoint(tablet) { 
    padding: 0;
  }
  &.has-curve{
    @include curve();
  }
  &.bg-violet{
    background:$harbor__violet!important;
    color:$white;
    h1,h2,h3,h4,h5,h6,p,span{
      color:$white;
    }
  }
  .container{
    @include breakpoint(desktop){
      width:calc(100% + #{$gutter*2});
    }
    padding-left:$gutter;
    padding-right:$gutter;
  }
}

.module-content{
  a{
    text-decoration: underline;
    text-decoration-color: $harbor__violet;
  }
}
.module-title{
  font-size:2.8rem!important;
  line-height:3.6rem!important;
  margin-bottom: 30px;
  border-bottom:4px solid $harbor__yellow;
  display:inline-block;
  &.center{
    margin-left: auto!important;
    margin-right: auto!important;
  }
}