.module--column{  
  $animation-height:350px;

  @mixin column($type:default){

    @if $type == default{
      display:flex;
      flex-direction: column;

      @include breakpoint(tablet){
        flex-direction: row;
        align-items: center;
        .col-item{
          flex-grow: 1;
          flex-basis: 0;
        }
      }

      .col-item{
        &.has-animation{
          padding:$gutter;
        }
      }

      &.m-flex-reverse{
        @include breakpoint(mobile-max){
          flex-direction: column-reverse;
        }
      }
    }

  }
  .container{
    @include column(default);
    .bodymovin-animation{
      overflow: hidden;
    }
  }

  /* Override */
  .col-item{
    &:not(.has-animation){
      padding-top:30px;
      @include breakpoint(tablet){
        max-width: 440px;
        padding-top:0px;
      }
    }
    .bodymovin-animation {
      @include breakpoint(tablet) {
        position:relative;
        svg,.svg {
          max-height:$animation-height!important;
          width: auto !important;
        }
      }
      &.hero {
        svg,.svg {
          max-height: 50vw;
          @include breakpoint(tablet) {
            max-height:450px !important;
          }
        }
      }
    }
  }

  &.what-is-harbor{
    margin-bottom:50px;
    @include breakpoint(tablet) {
      margin-bottom:100px;
    }
    .col-item{
      .bodymovin-animation{
        @include breakpoint(tablet) {
          margin-right: -50px;
          svg,.svg{
            float: right;
          }
        }
      }
    }
  }
  &.getting-started{
    .col-item{
      .bodymovin-animation{
        @include breakpoint(tablet) {
          margin-left: -50px;
          svg,.svg{
            float: left;
          }
        }
      }
    }
  }
}
