.module--blogpost-hero{
  .container{
    padding-top:30px;
    .page-title{
      @include underline-flow($harbor__yellow,.65);
    }
    .article-info{
      margin-top:20px;
      *{color:inherit;}
      .blogpost-excerpt{
        font-weight:normal;
        font-size:2.0rem;
        padding-top:30px;
      }

      .list-date {
        margin-bottom: 6px;
        font-size: 1.4rem;
        line-height: 2.2rem;
        letter-spacing: 0.88px;
      }
      .list-author-name {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 2.2rem;
        letter-spacing: 0.88px;
        padding-right: 10px;
        border-right: 2px solid $harbor__yellow;
      }
      .list-author-company {
        padding-left: 10px;
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-style: italic;
        letter-spacing: 0.88px;
      }

    }

  }
}