.module--key-features{


  $item-gutter:60px;

  background: $harbor__faded_yellow;

  @include curve(full-curve-reverse);

  .container {
    padding-top: 40px;
    //padding-bottom:40px;
    @include breakpoint(tablet) {
      padding: 40px 0 0 0;
      text-align: center;
    }
    .feature-container {
      background: $white;
      border-radius: 5px; 
    }
    .category-label {
      padding: 35px 0;
      h3 {
        text-align: center;
        margin-bottom: 35px;
      }
      &.category-Security {
        background-color: #f5f1fe;
      }
      &.category-Management {
        background-color: $white;
      }
      &.is-one-third {
        // items are 100% wide
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        @include breakpoint(tablet) {
          border-bottom-left-radius: 5px;
          border-top-right-radius: 0px;
        }
        .item {
          width: 100%;
        }
      }
      &.is-two-thirds {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        .item {
          width: 100%;
          @include breakpoint(tablet) {
            width: 50%;
          }
        }
      }
    }
    .items{
      display:flex;
      flex-wrap: wrap;
      @include breakpoint(tablet) {
        text-align: center;
      }
      >.item {
        text-align: center;
        margin-bottom: 40px;
        padding: 0 70px;
        &.item-security {
          background-color: #f5f1fe;
        }
        &.item-management {
          background-color: $white;
        }

        .item-title{
          font-weight: bold;
        }
      }
    }
  }
}
