{{ $lang := site.LanguageCode }}
{{ $home := .IsHome }}
<!DOCTYPE html>
<html{{ with $lang }} lang="{{ . }}"{{ end }}>
  <head>
    {{ partial "meta.html" . }}
    <title>
      {{ block "title" . }}
      {{ site.Title }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
    {{ partial "favicon.html" . }}

    {{ if $home }}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    {{ end }}
    
     <!-- Analytics -->
    
    {{/* Theme initialization - prevents flash of unstyled content */}}
    <script>
      (function() {
        const theme = localStorage.getItem('harbor-theme') || 
                     (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
        document.documentElement.setAttribute('data-theme', theme);
      })();
    </script>
    
    {{/* Analytics */}}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TKWH5SPC');</script>
    <!-- End Analytics -->
  </head>
  <body class="is-page has-navbar-fixed-top">
    <!-- Analytics if (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKWH5SPC"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- Analytics if  (noscript) -->
    <main class="is-main">
      {{ partial "navbar.html" . }}

      {{ block "main" . }}
      {{ end }}
    </main>

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" }}
  </body>
</html>
