{{ $lang := site.LanguageCode }}
{{ $home := .IsHome }}
<!DOCTYPE html>
<html{{ with $lang }} lang="{{ . }}"{{ end }}>
  <head>
    {{ partial "meta.html" . }}
    <title>
      {{ block "title" . }}
      {{ site.Title }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
    {{ partial "favicon.html" . }}

    {{ if $home }}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    {{ end }}
  </head>
  <body class="has-navbar-fixed-top">
    {{ partial "navbar.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" }}
  </body>
</html>
