{{- $hero := .Site.Params.hero }}
{{- $tagline := $hero.tagline -}}
{{- $subTagline := $hero.subtagline -}}
{{- $buttonText := $hero.buttonText }}
{{- $heroImageUrl := printf "img/%s" $hero.image | absURL -}}
<section class="hero is-fullheight is-default is-bold is-slanted">

  <div class="hero-body curved-border bg-violet">
    <!--<div class="container has-text-centered">-->
      <div class="hero-image">
        <div class="wrap">
          <div id="anim--lighthouse" class="bodymovin-animation" base-dir="lighthouse" base-file="data.json"></div>
        </div>
      </div>

    <!--</div>-->
  </div>
  <div class="hero-content has-text-centered">
    <div class="wrap">
      <h1>{{ $tagline }}</h1>
      <h2>{{ $subTagline }}</h2>
      <a href="/#getting-started" class="hbutton-violet button" target="_blank">
        {{$buttonText}}
      </a>
    </div>
  </div>
  <!--<div class="hero-foot mb-20">-->
    <!--<div class="container">-->
      <!--<div class="tabs is-centered">-->
        <!--<ul>-->
          <!--{{- range $hero.bottomIcons -}}-->
          <!--{{- $imgUrl := printf "img/%s" . }}-->
          <!--<li>-->
            <!--<a>-->
              <!--<img class="partner-logo" src="{{ $imgUrl }}">-->
            <!--</a>-->
          <!--</li>-->
          <!--{{- end -}}-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</section>
<section class="module module--column what-is-harbor col-2">
  <div class="container m-flex-reverse">
    <div class="left col-item">
      <h2 class="module-title">What is Harbor?</h2>
      <div class="content">
        <p>Harbor is an open source cloud native registry that stores, signs, and scans container images for vulnerabilities.</p>
        <p>As a private on-premises registry, Harbor solves common
        challenges by delivering trust, compliance, performance,
        and interoperability. It fills a gap for organizations and
        applications that cannot use a public or cloud-based
        registry, or want a consistent experience across clouds.</p>

        {{ if $hero.showGithubEmbed }}
        {{ partial "embed-github.html" . }}
        {{ end }}

      </div>
    </div>
    <div class="right col-item has-animation">
      <!--<div id="anim&#45;&#45;what-is-harbor" class="bodymovin-animation" base-dir="what-is-harbor" base-file="what-is-harbor.json"></div>-->
      <div id="anim--what-is-harbor" class="bodymovin-animation" base-dir="what-is-harbor" base-file="data.json"></div>
    </div>
  </div>
</section>
<section class="module module--column getting-started col-2">
  <a name="getting-started"></a>
  <div class="container">
    <div class="left col-item has-animation">
      <div id="anim--getting-started" class="bodymovin-animation" base-dir="getting-started" base-file="data.json"></div>
    </div>
    <div class="right col-item">
      <h2 class="module-title">Getting Started</h2>
      <div class="content">
        <p>Harbor can be installed on any system with Docker support.
        Read more about getting started and using Harbor below.</p>

        <a href="https://github.com/vmware/harbor/blob/master/docs/installation_guide.md" class="hlink">Readme</a>&nbsp;&nbsp;
        <a href="https://github.com/vmware/harbor/blob/master/docs/installation_guide.md" class="hlink">Installation Guide</a>&nbsp;&nbsp;
        <a href="https://github.com/vmware/harbor/blob/master/docs/user_guide.md" class="hlink">User Guide</a>

      </div>
    </div>
  </div>
</section>