<section class="module module--video-embed">
  <div class="container m-flex-reverse">
    <div class="columns is-vcentered">
      <div class="column">
        <h2 class="module-title">Intro To Harbor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quam nulla mollitia! Magnam suscipit nulla atque praesentium voluptatum veritatis, natus labore similique saepe, quis illum recusandae voluptas numquam debitis. Aliquid.</p>
        <a href="https://www.youtube.com/watch?v=Rs3zByxI8aY" class="hlink" target="_blank">Watch the Video</a>
      </div>
      <div class="column">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/Rs3zByxI8aY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>