<section class="module module--video-embed">
  <div class="container m-flex-reverse">
    <div class="columns is-vcentered">
      <div class="column">
        <h2 class="module-title">Intro To Harbor</h2>
        <p>Want to know more about what Harbor is and how it works? Watch this intro video to see how Harbor is helping organizations deliver a consistent image management solution across a variety of cloud native compute platforms like Kubernetes and Docker.</p>
        <a href="https://www.youtube.com/watch?v=VOQG8w5bJxc" class="hlink" target="_blank">Watch the Video</a>
      </div>
      <div class="column">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/VOQG8w5bJxc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>