<!--Variables-->
{{- $keyFeatures := .Site.Params.keyfeatures -}}
{{- $title := $keyFeatures.title -}}
{{- $features := $keyFeatures.features -}}

<section class="module module--key-features">
    <div class="container">
        <h2 class="module-title center">{{ $title }}</h2>
        <div class="items">
        {{ range $features }}
            <div class="item">
                <div class="item-icon">
                    <img src={{ .logo }} />
                </div>
                <div class="item-title">
                    {{ .title }}
                </div>
            </div>
        {{ end }}
        </div>
    </div>
</section>