<!--Variables-->
{{- $ourCommunity := .Site.Params.ourcommunity -}}
{{- $title := $ourCommunity.title -}}
{{- $communities := $ourCommunity.communities -}}

<section class="module module--our-community">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
            <div class="items">
                {{ range $communities }}
                <div class="item">
                    <div class="item-icon">
                        <a href={{ .link }} target="_blank" svg-item={{ .logo }}>
                            <img src={{ .logo }} class=""/>
                        </a>
                    </div>
                    <div class="item-title">
                        <a href={{ .link }} target="_blank">
                            {{ .title }}
                        </a>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="column has-text-left">
          <h2 class="module-title">{{ $title }}</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          {{ if (not $ourCommunity.buttonHide) }}
          <div class="cta">
              <a href={{ $ourCommunity.buttonLink }} class="hlink">
                  {{ $ourCommunity.buttonTitle }}
              </a>
          </div>
          {{ end }}
        </div>
      </div>        
    </div>
</section>