<!--Variables-->
{{- $testimonials := .Site.Params.testimonials -}}

<section class="module module--testimonials-carousel">
  <div class="container">
    <div class="owl-carousel testimonials" data-owl-responsive='{"0":{"items": "1"}, "1024":{"items": "1"}}' data-owl-dots="true">
      {{ range $testimonials }}
        <div class="item testimonial">
          <img src="{{ .logo }}" alt="{{ .citation }}">
          <blockquote>
            {{ .quote }}
            <cite>&mdash; {{ .citation }}</cite>
          </blockquote>
        </div>
      {{ end }}
    </div>
  </div>
</section>