<!--Variables-->
{{- $usersPartners := .Site.Params.userspartners -}}
{{- $title := $usersPartners.title -}}
{{- $clients := $usersPartners.clients -}}

<section class="module module--clients">
    <div class="container">
        <h2 class="module-title">{{ $title }}</h2>
        <div class="items owl-carousel">
            {{ range $clients }}
                {{ if (not .hide) }}
                    <div class="item">
                        <div class="item-icon">
                            <a href={{ .link }} target="_blank">
                                <img src={{ .logo }} />
                            </a>
                        </div>
                        <div class="item-title">
                            <a href={{ .link }} target="_blank">
                                {{ .title }}
                            </a>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>