{{ $copy := site.Copyright }}
{{ $year := now.Year }}
{{ $logo := printf "img/logos/%s" site.Params.logos.footer | relURL }}
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <img class="is-footer-logo" src="{{ $logo }}" alt="{{ site.Title }} footer logo">
      </div>

      <div class="column">
        <a class="has-text-black is-small" target="_blank" href="{{ site.Params.github }}">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>
            GitHub
          </span>
        </a>
        <br/>
        <a class="has-text-black is-small" target="_blank" href="{{ site.Params.logo_repo }}">
          <span class="icon">
            <i class="fa fa-palette"></i>
          </span>
          <span>
            Logos
          </span>
        </a>
      </div>

      <div class="column">
        <a class="has-text-black is-small" target="_blank" href="{{ site.Params.slack }}">
          <span class="icon">
            <i class="fab fa-slack"></i>
          </span>
          <span>
            Slack
          </span>
        </a>
        <br/>
        <a class="has-text-black is-small" target="_blank" href="https://twitter.com/{{ site.Params.twitter }}">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
          <span>
            Twitter
          </span>
        </a>
      </div>
    </div>

    <hr />

    <p class="is-size-6 has-text-black has-text-weight-light">
      &copy; {{ $year }} {{ $copy }}
    </p>
  </div>
</footer>
