{{ $repo    := printf "https://github.com/%s" site.Params.repo }}
{{ $title   := site.Title }}
{{ $repoUrl := $repo | safeURL }}
{{ $subUrl  := printf "%s/subscription" $repo | safeURL }}
{{ $forkUrl := printf "%s/fork" $repo | safeURL }}

<div class="gihub-embed">
  <a class="github-button" href="{{ $repoUrl }}" data-icon="octicon-star" data-show-count="true" aria-label="Star {{ $title }} on GitHub">Star</a>
  <a class="github-button" href="{{ $subUrl }}" data-icon="octicon-eye" data-show-count="true" aria-label="Watch {{ $title }} on GitHub">Watch</a>
  <a class="github-button" href="{{ $forkUrl }}" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork {{ $title }} on GitHub">Fork</a>
  <br/>
  <a href="https://bestpractices.coreinfrastructure.org/projects/2095"><img src="https://bestpractices.coreinfrastructure.org/projects/2095/badge"></a>
</div>
