{{ $alpineJsVersion := site.Params.alpine_js_version }}
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v{{ $alpineJsVersion }}/dist/alpine-ie11.js" defer></script>

{{/* Algolia DocSearch JS */}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
  docsearch({
    apiKey: 'a1ac053087a2434d93fa11c329a47adb',
    indexName: 'goharbor',
    inputSelector: '#search-bar',
    transformData: function(hits) {
      hits.forEach(function(hit) {
        var match = hit.url.match(/\/docs\/([^\/]+)\//);
        hit._versionInfo = match ? match[1] : "";
        if (hit._versionInfo) {
          var version = hit._versionInfo;
          if (hit.hierarchy && hit.hierarchy.lvl0) {
            hit.hierarchy.lvl0 += " (" + version + ")";
          }
          if (hit._highlightResult && hit._highlightResult.hierarchy && hit._highlightResult.hierarchy.lvl0) {
            hit._highlightResult.hierarchy.lvl0.value += " (" + version + ")";
          }
        }
      });

      var getWeight = function(v) {
        if (!v) return -1;
        if (v === 'edge' || v === 'main' || v === 'latest') return 0;
        var p = v.split('.');
        var w = 0;
        for (var i = 0; i < p.length; i++) {
          w += (parseInt(p[i]) || 0) * Math.pow(1000, 2 - i);
        }
        return w;
      };

      hits.sort(function(a, b) {
        return getWeight(b._versionInfo) - getWeight(a._versionInfo);
      });

      return hits;
    },
    debug: false
  });
</script>

{{/* Anchor link scroll offset */}}
<script>
  const navbarHeight = document.getElementsByClassName('navbar')[0].offsetHeight;
  const extraPadding = 15;
  const navbarOffset = -1 * (navbarHeight + extraPadding);
  var shiftWindow = function() { scrollBy(0, navbarOffset) };
  window.addEventListener("hashchange", shiftWindow);
  window.addEventListener("pageshow", shiftWindow);
  function load() { if (window.location.hash) shiftWindow(); }

  console.log("OK");
</script>
<script src="/js/table-popout.js"></script>
