{{ $partners := site.Data.partners }}
<div class="container">
  <div class="columns is-multiline is-variable is-8">
    {{ range $partners }}
    {{ $img := printf "img/logos/users-partners/%s" .logo | relURL }}
    <div class="column is-one-quarter has-text-centered" style="display: flex;justify-content: center;flex-wrap: nowrap;align-items: center;">
      <a href="{{ .link }}"><img src="{{ $img }}" alt="{{ .title }} partner logo" style="max-height: 128px"></a>
    </div>
    {{ end }}
  </div>
</div>
