<div class="buttons">
  <a class="button is-small is-black is-outlined" target="_blank" href="{{ site.Params.github }}" aria-label="GitHub">
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>
  </a>

  <a class="button is-small is-twitter-blue" target="_blank" href="https://twitter.com/{{ site.Params.twitter }}" aria-label="Twitter">
    <span class="icon">
      <i class="fab fa-twitter"></i>
    </span>
  </a>

  <a class="button is-small is-slack-green" target="_blank" href="{{ site.Params.slack }}" aria-label="Slack">
    <span class="icon">
      <i class="fab fa-slack"></i>
    </span>
  </a>
</div>
