{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
{{ $logo  := printf "img/logos/%s" site.Params.logos.hero | relURL }}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="title is-spaced">
        <img class="is-hero-logo" src="{{ $logo }}" alt="{{ $title }} hero logo">
      </div>

      {{ with $desc }}
      <p class="subtitle is-size-3 is-size-4-mobile has-text-weight-light">
        {{ . }}
      </p>
      {{ end }}
    </div>
  </div>
</section>
