{{ $intro   := site.Params.intro | markdownify }}
{{ $videoId := site.Params.youtube_video_id }}
<section class="section has-background-black">
  <div class="container">
    <div class="columns is-vcentered is-variable is-8">
      <div class="column">
        <p class="title is-size-3 is-size-4-mobile has-text-light">
          Intro to Harbor
        </p>

        <div class="content is-medium has-text-grey-lighter">
          {{ $intro }}
        </div>
      </div>

      <div class="column">
        <div style="position: relative; width: 100%; padding-bottom: 56.25%; height: 0; overflow: hidden;">
          <iframe src="https://www.youtube.com/embed/{{ $videoId }}" 
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" 
                  frameborder="0" 
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen>
          </iframe>
      </div>
      </div>
    </div>
  </div>
</section>