<div class="columns">

  <div class="column">
    <h2>
      Join the Harbor community!
    </h2>

    <p class="is-size-5">
      Harbor is developed in the open, and is constantly being improved by our <b>users, contributors, and maintainers</b>.  
      It is because of you that we can bring great software to the community.
      <br/>
      <br/>
      <b>Come join us!</b>
      <br/>      <br/>
    </p>
    <a href="https://twitter.com/project_harbor">
      <div class="button is-twitter-blue">
        <span class="icon">
          <i class="fab fa-twitter"></i>
        </span>
        <span class="has-text-white has-text-weight-bold" >
          Follow us on Twitter @project_harbor
        </span>
      </div>
    </a>
  </div>

  <div class="column">
    <h2>
      Community Meetings
    </h2>

    <p class="is-size-5">
      We have two recurring bi-weekly Harbor community meetings. One meeting will cater to our Asia and Europe members at <code>9PM UTC+8 time zone</code>, and a second meeting will cater to our Americas members at <code>4PM Eastern / 1PM Pacific time zone</code>. We will use these meetings to communicate updates to the project, listen to feedback from the Harbor community, and also collect requirements/use cases for new features.
    </p>

    <div class="container">
      <div class="columns is-variable is-6">
        <div class="column">
          <h3>
            <span class="icon has-text-secondary has-margin-right">
              <i class="fas fa-phone"></i>
            </span>
            <span>
              Bi-weekly public community meetings
            </span>
          </h3>

          <p>
            See all the meeting information and add our calendar over at <a href="https://github.com/goharbor/community/blob/master/MEETING_SCHEDULE.md" target="_blank">our schedule</a> to get the latest Harbor news, what we're working on, and provide suggestions and feedback. Read, comment, or add agenda items on the <a href="https://github.com/goharbor/community/wiki/Harbor-Community-Meetings" target="_blank">meeting notes</a>.
          </p>
        </div>

        <div class="column">
          <h3>
            <span class="icon has-text-secondary has-margin-right">
              <i class="fab fa-youtube"></i>
            </span>
            <span>
              Catch up with past meetings on YouTube
            </span>
          </h3>

          <p>
            All Harbor community meetings are recorded and add to our <a href="https://www.youtube.com/playlist?list=PLgInP-D86bCwTC0DYAa1pgupsQIAWPomv" target="_blank">YouTube playlist</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
