<div class="community-container">
    <!-- Top Row: Join Community and Meeting Information -->
    <div class="top-row">
        <!-- Join Community Section -->
        <div class="card join-card">
            <h2>Join the Harbor community!</h2>
            <div class="card-content">
                <p class="is-size-5">
                    Harbor is developed in the open, and is constantly being improved by our
                    <b>users, contributors, and maintainers</b>.
                    It is because of you that we can bring great software to the community.
                    <br /><br />
                    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                        <b>Come join us!</b>
                        <a href="https://x.com/project_harbor" class="button is-twitter-blue">
                            <span class="icon">
                                <i class="fab fa-x-twitter"></i>
                            </span>
                            <span class="has-text-white has-text-weight-bold">
                                Follow us on X @project_harbor
                            </span>
                        </a>
                    </div>
                </p>
            </div>
        </div>

        <!-- Meeting Information Section -->
        <div class="card info-card">
            <h2>
                <span class="icon has-text-secondary has-margin-right">
                    <i class="fas fa-phone"></i>
                </span>
                <span>Community Meetings</span>
            </h2>
            <div class="card-content">
                <p class="is-size-5">
                    We have a recurring bi-weekly Harbor community meeting at 
                    <code class="meeting-time">9PM UTC+8 time zone</code>. 
                    We will use this meeting to communicate updates to the project, listen to feedback from the Harbor community, and also collect requirements/use cases for new features.
                </p>
                <p class="is-size-5">
                    See all the meeting information and add our planned calendar over at
                    <a href="https://github.com/goharbor/community/wiki/Harbor-Community-Meetings" target="_blank">
                        our meeting notes and agenda
                    </a>.

                    Subscribe at
                    <a href="https://lists.cncf.io/g/harbor-users" target="_blank">our mailing list</a>
                    to get the latest Harbor news, what we're working on, and provide suggestions and feedback.
                    All meetings will be recorded and uploaded to
                    <a href="https://www.youtube.com/playlist?list=PLgInP-D86bCxeNorqeaVlJMv_4x95Le7x" target="_blank">
                        YouTube
                    </a>.
                </p>
            </div>
        </div>

    </div>

