<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ block "title" . }}
          {{ .Site.Title }}
          {{ end }}</title>

    {{ partial "css.html" . }}
  </head>

  {{- $thisPageUrl := .Permalink -}}
  {{- $thisPageSlugWithTrailingSlash := (replace $thisPageUrl ( printf "%s" .Site.BaseURL) "") -}}
  {{- $thisPageSlug :=  printf "page-%s" (strings.TrimSuffix "/" $thisPageSlugWithTrailingSlash) -}}
  {{- $thisPageSlugClean :=  (replace $thisPageSlug "/" "--") -}}

  <body
    {{ if eq $thisPageSlugClean "page-" }}
      {{ printf "class='%s'" "page-home" | safeHTMLAttr }}
    {{ else }}
      {{ printf "class='%s'" $thisPageSlugClean | safeHTMLAttr }}
    {{ end }}
  >

    <!--<div id="preloader">-->
      <!--<div id="status"></div>-->
    <!--</div>-->

    {{ partial "navbar.html" . }}

    <!-- Block: Main - will be later overriden by other templates -->
    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}
    {{ partial "sidebar.html" . }}

    <!-- Back-to-top button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ partial "javascript.html" . }}    
  </body>
</html>
