{{ define "main" }}

    {{ partial "list/hero.html" . }}

    <section class="module module--latest-posts">
        <div class="container">
            <h2 class="module-title">Our Latest Posts</h2>
            <div class="list-items">
                {{ range .Pages }}
                    <div class="list-item">
                        <div class="list-title">
                            <a href="{{.URL}}" ><h3>{{ .Title }}</h3></a>
                        </div>
                        <div class="list-article-info">

                                <div class="list-date">{{ dateFormat "January 2, 2006" .Date }}</div>
                                {{if .Params.author}}
                                    <div class="list-author">
                                        <span class="list-author-name">
                                            {{.Params.Author.Name}}
                                        </span>
                                        <span class="list-author-company">
                                            {{.Params.Author.Company}}
                                        </span>
                                    </div>
                                {{end}}
                            </small>
                        </div>
                        {{with .Description }}
                        <!-- show description if available -->
                        <p  class="list-description">{{.}}</p>
                        {{end}}
                    </div>
                {{ end }}
            </div>
        </div>
    </section>

    {{ partial "list/community-articles.html" . }}

{{ end }}