.bg-violet{
  background:$harbor__violet!important;
}

.curved-border{
  width: calc(100% + #{$hero-gutter-mobile*2});
  transform: translateX(- #{$hero-gutter-mobile});
  border-radius: $curve-radius;
  @include breakpoint(tablet){
    width: calc(100% + #{$hero-gutter-desktop*2});
    padding-left:$hero-gutter-desktop;
    padding-right:$hero-gutter-desktop;
    transform: translateX(-#{$hero-gutter-desktop});
    border-radius: $curve-radius;
  }

}
