body{
  //margin-top:64px;
  overflow:hidden!important;
}
p{
  &:not(:last-child){
    margin-bottom:10px;
  }
}
div:not(.navbar-wrapper) a.button{
  width:auto;
  position: relative;
  padding: 22px 50px 26px 20px;
  border-color:transparent;
  svg{
    position: absolute;
    right: 10px;
    width: 26px;
    height: 26px;
  }

  &.purple{
    @include button-color($harbor__violet,$white);
  }
}
.module a{
  &.hlink{
    @include underline-flow();
    font-weight: bold;
    font-size: 1.5rem;
    &:hover{
      color:initial;
      //opacity: .8;
    }
  }
}
.button, .button.cta{
  font-size:1.6rem;
}
.container{
  max-width:$width_content;
}
.menu-toggle [class^=icon-line-]{
  //Hamburger
  background: $white!important;
}
body>section:first-of-type{
  padding-top: map_get($nav-height,mobile);
  @include breakpoint(tablet){
    padding-top: map_get($nav-height,tablet);
  }
  @include breakpoint(desktop){
    padding-top: map_get($nav-height,desktop);
  }
}
#backtotop a{
  background:rgba($harbor__violet,.65)!important;
}
.hbutton-outline-violet{
  border-color:$harbor__violet--electric-indigo!important;
  border: 1px solid $harbor__violet--electric-indigo;
  border-radius: 100px;
  font-weight:bold;
  padding: 25px 30px!important;
  color:$harbor__violet--electric-indigo;
  &:hover{
    background:$harbor__violet--electric-indigo;
    color:$white;
  }
}
.hbutton-violet{
  border-radius: 100px;
  font-weight:bold;
  padding: 25px 30px!important;
  background:$harbor__violet--electric-indigo;
  color:$white;
  &:hover{
    background:rgba($harbor__violet--electric-indigo,.95);
    color:$white;
  }
}

.owl-carousel{

  $icon-height:50px;
  $slider-arrow-gap:40px;
  $slider-arrow-size:40px;

  @mixin slider-arrow(){
    border-radius:50%;
    background: $harbor__faded_yellow;
    transition:all $delay;
    &:not(.disabled):hover{
      background:$harbor__violet;
      i{
        color:$harbor__faded_yellow;
      }
    }
    &.disabled{
      i{
        color:$fade-grey;
      }
    }
    i{
      color:$harbor__violet;
      transition:all $delay;
    }

  }

  position:relative;
  .owl-item > .item{
    .item-title{
      display:none!important;
    }
    .item-icon{
    }
  }
  .owl-nav{
    button.owl-prev,
    button.owl-next{
      position:absolute;
      top: 50%;
      transform: translateY(-50%);
      height:$slider-arrow-size;
      width:$slider-arrow-size;
      @include slider-arrow();
    }
    button.owl-prev{
      left: calc(-#{$gutter});
      @include breakpoint(desktop){
        left:calc(-#{$slider-arrow-gap + $slider-arrow-size});
      }
    }
    button.owl-next{
      right: calc(-#{$gutter});
      @include breakpoint(desktop) {
        right: calc(-#{$slider-arrow-gap + $slider-arrow-size});
      }
    }
  }
  .owl-dots{display:none;}
}
